/* scroll-view styles */

/* 
Structure of scroll view is as follows

<div class="rfz-scroll-view-container">
  <div class="rfz-scroll-view-content">
  // Scroll view content here
  </div>
  <div class="rfz-scroll-indicator rfz-scroll-indicator-y">
    <div></div> // top of indicator
    <div class="rfz-scroll-indicator-middle">
    <div></div> // bottom of indicator
  </div>
</div>
*/

.rfz-scroll-view-container {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  overflow:hidden;
}

.rfz-scroll-view-content {
  position:absolute;
  top:0;
  left:0;
  right:0;
  -webkit-transform: translate3d(0, 0, 0);
  overflow:auto;
}

.rfz-scroll-indicator {
  position:absolute;
  z-index:100;
}

.rfz-scroll-indicator-y {
  top:0;
  right:3px;
}

.rfz-scroll-indicator-x {
  bottom:3px;
  left:0;
}

.rfz-scroll-indicator > div {
  opacity:0;
  position:absolute;
  top:0;
  left:0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.25s;
  -webkit-transform-origin: left top;
  -webkit-backface-visibility: hidden;
}

.rfz-os-ios {
  &.rfz-os-version-7 {

    .rfz-scroll-indicator {
      width:2px;
      height:2px;
    }

    .rfz-scroll-indicator > div {
      width:2px;
      height:2px;
      border-radius:3px;
      background:rgba(0,0,0,0.3);
    }

    .rfz-scroll-indicator-x .rfz-scroll-indicator-middle {
      border-radius:0px;
      left:1px;
      width:1px;
    }

    .rfz-scroll-indicator-y .rfz-scroll-indicator-middle {
      border-radius:0px;
      top:1px;
      height:1px;
    }

    .rfz-scroll-indicator-y :nth-child(1) {
      clip:rect(0, 2px, 1px, 0);
    }

    .rfz-scroll-indicator-x :nth-child(1) {
      clip:rect(0, 1px, 2px, 0);
    }


    .rfz-scroll-indicator-y :nth-child(3) {
      clip:rect(1px, 2px, 2px, 0);
    }

    .rfz-scroll-indicator-x :nth-child(3) {
      clip:rect(0, 2px, 2px, 1px);
    }
  }
}

.rfz-os-android {
  &.rfz-os-version-4 {

    .rfz-scroll-indicator {
      width:2px;
      height:2px;
    }

    .rfz-scroll-indicator > div {
      width:2px;
      height:2px;
      background:rgba(0,0,0,0.35);
    }

    .rfz-scroll-indicator-x .rfz-scroll-indicator-middle {
      left:2px;
      width:1px;
    }

    .rfz-scroll-indicator-y .rfz-scroll-indicator-middle {
      top:1px;
      height:1px;
    }

    .rfz-scroll-indicator-y :nth-child(1) {
      clip:rect(-1px, 3px, 1px, -1px);
    }

    .rfz-scroll-indicator-x :nth-child(1) {
      clip:rect(-1, 1px, 3px, -1px);
    }


    .rfz-scroll-indicator-y :nth-child(3) {
      clip:rect(1px, 3px, 3px, -1px);
    }

    .rfz-scroll-indicator-x :nth-child(3) {
      clip:rect(-1px, 3px, 3px, 1px);
    }
  }
}
