.rfz-toggle {
  position:relative;
}

.rfz-toggle-handle {
  position:absolute;
}

.rfz-os-ios {
   &.rfz-os-version-7 {
    
    .rfz-toggle {
      width:51px;
      height:31px;
      border-radius:15px;
      background-color:#e6e6e6;
      transition:0.25s all;
      -webkit-transition:0.25s all;
    }

    .rfz-toggle-handle {
      top:1px;
      left : 2px;
      right:21px;
      height: 28px;
      -webkit-transform:translate3d(0, 0.5px, 0);
      -webkit-transform-origin:top right;

      border-radius:14px;
      background:#fff;
      box-shadow:0 0 0px 1px rgba(0,0,0,0.1),
                 0 3px 1px 0 rgba(0,0,0,0.16);
      z-index:2;
      -webkit-transition:left 0.23s, right 0.23s, -webkit-transform 0.25s;
    }

    .rfz-toggle:after {
      content:'';
      position:absolute;
      width:48px;
      height:28px;
      top:1px;
      right:1px;
      -webkit-transform:translate3d(-0.5px, 0.5px, 0);
      -webkit-transform-origin: middle right;
      background:#ffffff;
      border-radius:14px;
      z-index:1;
      -webkit-transition:0.3s all;
    }

    .rfz-toggle.pointer-start {
      .rfz-toggle-handle {
        right:14px;
      }

      &:after {
        width:28px;
        -webkit-transform: translate3d(0, 0, 0) scale(0.01);
      }
    }

    .rfz-toggle.on {
      & {
        background-color:#4bd662;
      }

      &:after {
       width:28px;
       -webkit-transform: translate3d(0, 0, 0) scale(0.01);
      }

      .rfz-toggle-handle {
        right:14px;
        left:9px;
        -webkit-transform:translate3d(12px, 0.5px, 0);
      }
    }

    .rfz-toggle.on.pointer-start {
      .rfz-toggle-handle {
        left:2px;
      }
    }
  }
}