/* app css stylesheet */
body {
    position:absolute;
    top:0;
    left:0;
    width:320px;
    bottom:0;
    margin:0;
    padding:0;
/*    font-family:"HelveticaNeue-Light", "Helvetica Neue Light", 
                "Helvetica Neue", Helvetica,Arial;*/
    font-family:Helvetica, Arial, sans-serif;
    overflow:hidden;
}

#overlay-view {
    z-index:1000;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    right:0;
    top:0;
 /*   -webkit-transform: translate(0, 100%);*/
    -webkit-transition:-webkit-transform 0.5s;
}

.header {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:44px;
    background:url("../ios-images/navbar_bg@2x.png");
    box-shadow:0 0 3px 0 rgba(0,0,0,0.5);
    background-size:100%;
    z-index:100;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,0.8);
}

.header .name {
    display:inline-block;
    padding-top:11px;
}

.header-button {
    margin:7px 5px 0 5px;
    width:46px;
    height:30px;
    background-size:100%;
}

.header-refresh {
/*    background-image:url("../ios-images/navbar_button_settings_off@2x.png");*/
}

.header-settings {
    background-image:url("../ios-images/navbar_button_settings_off@2x.png");
}

.view {
    position:absolute;
    top:44px;
    bottom:49px;
    left:0;
    right:0;
    background:url("../ios-images/gui_white_pattern_bg.png") fixed;
/*    background:url("../img/ios-bg.png") 0 -64px;*/
    background-size:100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translateZ(0);
}

#overlay-view .view {
    bottom:0px;
}

.subview {
    -webkit-transform: translateZ(0);
    height:100%;
    overflow-y:auto;
}

.scrollarea {
    overflow:auto;
    min-height:100%;
    position:relative;
    padding-bottom:1px;
    -webkit-transform: translateZ(0);
}

#menu {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:49px;
}

#menu li {
    color:#929BA2;
    font-size:10px;
    font-weight:bold;
    list-style-type:none;
    text-align:center;
    float:left;
    width:25%;
    height:49px;
    text-shadow:0 1px 0 #000000;
    background:url("../ios-images/tabs_bg_off@2x.png") no-repeat;
    background-size:100%;
}

#menu li.selected {
    color:#ffffff;
    background:url("../ios-images/tabs_bg_on@2x.png") no-repeat;
}

#menu li span {
    display:block;
    height:15px;
    padding-top:34px;
    background-repeat:no-repeat;
    background-position:center 5px;
}

.menu-overview span {
    background-size:26px 29px;
    background-image:url('../ios-images/tabs_overview_icon_off@2x.png')
}
.menu-overview.selected span {
    background-image:url('../ios-images/tabs_overview_icon_on@2x.png')
}

.menu-progress span {
    background-size:33px 25px;
    background-image:url('../ios-images/tabs_progress_icon_off@2x.png')
}
.menu-progress.selected span {
    background-image:url('../ios-images/tabs_progress_icon_on@2x.png')
}

.menu-payments span {
    background-size:30px 25px;
    background-image:url('../ios-images/tabs_payments_icon_off@2x.png')
}
.menu-payments.selected span {
    background-image:url('../ios-images/tabs_payments_icon_on@2x.png')
}

.menu-accounts span {
    background-size:25px 29px;
    background-image:url('../ios-images/tabs_accounts_icon_off@2x.png')
}
.menu-accounts.selected span {
    background-image:url('../ios-images/tabs_accounts_icon_on@2x.png')
}

.pane.transparent {
    background:rgba(255,255,255,0.4);
}

.pane-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#001331;
    font-size:16px;
    font-weight:bold;
    padding-bottom:6px;
    line-height:16px;
}

.pane {
    position:relative;
    margin:10px 8px;
    padding:11px;
    border-radius:1px;
    box-shadow:0 1px 3px 0 #c0c5cc;
}

.left {
    float:left;
}

.right {
    float:right;
}

.pane-text {
    margin-top:3px;
}

.float-overflow {
    overflow:auto;
}

.text-right {
    text-align:right;
}

.text-small {
    color:#9b9594;
    font-size:11px !important;
    line-height:14px !important;
    font-weight:bold;
}

.text-medium {
    color:#9b9594;
    font-size:12px !important;
    line-height:15px !important;
    font-weight:bold;
}

.text-large {
    padding-top:3px;
    line-height:30px;
    font-size:24px;
    font-weight:bold;
}

.pane-divider {
    margin-top:10px;
    border-top:1px solid #fff;
    padding-top:6px;
    box-shadow:0 -1px 0 0 #d1cfc8;
}

.status-text {
    padding-top:5px;
    color:#9b9594;
    text-align:center;
    font-size:10px;
    font-weight:bold;
    margin-bottom:-2px;
}

.status-divider {
    height:0px;
    border-bottom:1px solid #d1cfc8;
    box-shadow:0 1px 0 0 #fff;
}

.status-divider span {
    display:inline-block;
    padding:0 10px;
    position:relative;
    top:-6px;
    background:url("../ios-images/gui_white_pattern_bg@2x.png") fixed;
}

.positive {
    color:#4292ff;
}

.negative {
    color:#db4301;
}

.progress-bar {
    height:20px;
    margin:6px 0 0 0;
    border-radius:4px;
    background-image:-webkit-linear-gradient(top, rgb(255,194,0) 0%,rgb(255,164,0) 100%),
                     -webkit-linear-gradient(top, rgb(0,170,229) 0%,rgb(0,128,201) 100%),
                     -webkit-linear-gradient(top, rgb(188,229,243) 0%,rgb(173,209,224) 100%),
                     -webkit-linear-gradient(top, rgb(225,227,232) 0%,rgb(237,239,240) 70%, rgb(235,235,235) 100%);
    background-size:0px 0px, 100px 100%, 120px 100%, 100% 100%;
    background-repeat:no-repeat;
}

.table {
    font-size:17px;
    font-weight:bold;
    color:#000;
    margin:0 11px;
    background:#fff;
    border:1px solid #adb1b8;
    border-width:1px 1px 0 1px;
    padding:8px 9px 0 9px;
    height:34px;
    line-height:28px;
}

.table.table-bottom {
    margin-bottom:11px;
    border-width:1px;
    border-bottom-left-radius:7px;
    border-bottom-right-radius:7px;
}

.table.table-top {
    margin-top:11px;
    border-top-left-radius:7px;
    border-top-right-radius:7px;
}

.toggle {
    width:77px;
    height:27px;
    position:relative;
}

.toggle-shadow {
    position:absolute;
    z-index:10;
    top:0;
    left:0;
    right:0;
    bottom:0;
    box-shadow:inset 0 1px 3px 0 rgba(0,0,0,0.3);
    border-radius:13px;
}

.toggle-container {
    width:100%;
    height:100%;
    border-radius:13px;
    overflow:hidden;
    -webkit-transform: translateZ(0);
}

.toggle-slider {
    position:relative;
    width:127px;
    height:27px;
    -webkit-transition:-webkit-transform 0.2s, left 0.2s;
    background:-webkit-linear-gradient(top, rgb(0,137,234) 0%,rgb(0,118,214) 100%),
               -webkit-linear-gradient(top, rgb(250,250,250) 0%,rgb(234,234,234) 100%);
    background-size:63px 100%, 64px 100%;
    background-position:0 0, 63px 0;
    background-repeat:no-repeat;
}

.toggle-on, .toggle-off {
    text-align:center;
    position:absolute;
    left:2px;
    width:50px;
    color:#fff;
    font-size:16px;
}
.toggle-off {
    right:4px;
    left:auto;
    color:#767676;
}

.toggle-knob {
    height:25px;
    position:absolute;
    left:51px;
    top:1px;
    width:25px;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.5);
    background:-webkit-linear-gradient(top, rgb(255,255,255) 0%, rgb(240,240,240) 100%);
    border-radius:12px;
}

#reload {
    position:absolute;
    height:40px;
    top:-40px;
    left:0;
    right:0;
    background:#730000;
}

#overview-assets {
    height:55px;
}

#overview-assets .left, #overview-assets .right {
    position:absolute;
    top:0;
    bottom:0;
    padding:11px;
}

#overview-assets .left {
    left:1px;
    right:50%;
    margin-left:-1px;
    border-right:1px solid #d1cfc8;
}

#overview-assets .right {
    right:1px;
    left:50%;
    margin-right:-1px;
    border-left:1px solid rgba(255,255,255,0.9);
}


