<div>
  <div ng-switch="loading()">
    <div ng-switch-when="true" ng-include="'/partials/loading.html'">
  </div>
  </div>
  <div class="grid col_{{columns}}"
       key-coord
       id="gridid"
       type="grid"
       key-watch="results"
       click-depth="1">
  <div ng-repeat="series in results" class="gridclass">
    <a ng-click="select(series)">
      <span class="img-wrapper" ng-include="'/partials/poster.html'"></span>
      <span class="title"><span>{{series.title}}</span></span>
    </a>
  </div>
</div>
