<div class="status-text">Last Updated: Today, 13:04am{{lastUpdated}}</div>
<div class="pane transparent" id="overview-assets">
  <div class="left">
    <div class="pane-header">Cash</div>
    <div class="text-large positive">$31,000.00</div>
  </div>
  <div class="right text-right">
    <div class="pane-header">Daily Interest</div>
    <div class="text-large negative">-$0.97</div>
  </div>
</div>

<div class="pane transparent">
  <div class="pane-header">Citi ThankYou Prefered Card</div>
  <div class="float-overflow pane-text">
    <span class="right text-small">remaining: $476.75</span>
    <span class="left text-small">$11,791.18 paid</span>
  </div>
  <div class="progress-bar"></div>
  <div class="text-small pane-text pane-divider">
    This is your target account because it has the highest interest
    rate.
  </div>
</div>

<div class="status-text text-medium">Activity Updates</div>
