<div rfz-pane-header="Payments">
  <div rfz-pane-header-button
       position="right">Pay
  </div>
  <div rfz-pane-header-button position="left">Refresh</div>
</div>
<div rfz-scroll-view-listener
     rfz-paralax-scroll
     rfz-pane-body>
  <div rfz-scroll-view="container"
       style="display:block;"
       can-scroll-x="false">
    <div rfz-scroll-view-body
         style="overflow:visible;">
      <div class="months-header">
        <div rfz-scroll-view="header"
             can-scroll-y="false"
             show-indicator-x="false"
             paging-enabled="true"
             page-size-factor="0.5"
             start-page="startPage"
             class="month-body">
          <div rfz-scroll-view-body
               class="months-container"
               style="padding:0 25%;
                      width : {{((payments.length) / 2) * 100}}%">
            <div ng-repeat="month in payments"
                 class="my-payment payment-month"
                 style="width:{{100 / payments.length}}%"
                 rfz-tap="scrollToMonth(month)">
              {{month[0].created | date:'MMM yyyy'}}
            </div>
          </div>
        </div>
      </div>
      <div rfz-scroll-view="content"
           can-scroll-y="false"
           show-indicator-x="false"
           paging-enabled="true"
           auto-page-height="true"
           class="payment-table"
           style="overflow:visible;">
        <div rfz-scroll-view-body
             style="width: {{payments.length * 100}}%; overflow:visible;">
          <div ng-repeat="month in payments"
               style="width: {{100 / payments.length}}%"
               class="payments-page">
            <div class="table-solid">
              <div class="table-header table-text-blue">Paid</div>
              <ul>
                <li ng-repeat="payment in month" class="row {{payment.status}}"
                    ng-class="{last : $last}"
                    rfz-tap="$rfzNavPush('payment', 'side')"
                    rfz-tap-delayed-claim="5000"
                    rfz-change-direction="right">
                  <div class="left amount table-text-blue">{{payment.amount | currency}}</div>
                  <div class="right">
                    Paid on {{payment.created | date:'MMM dd'}}<br/>
                    to {{paymentAccount(payment).name}}
                  </div>
                </li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
