<span class="img selectable">
<!--  <span style="background-image:url({{series.image.url | default:'/img/no-image.png'}});
               left:-{{series.image.width | centerimage}}em;">-->
  <span>
    <ng-switch on="imagetype">
      <img ng-switch-when="default"
           ng-src="{{series.image.url | default:'/img/no-image.png'}}"
           style="left:-{{series.image.width | centerimage}}em;
                  width:{{series.image.width | default:150}}em;
                  height:{{series.image.height | default:200}}em;"/>
      <img ng-switch-default
           netrip-img="{{series.id}}"
    </ng-switch>
  </span>
</span>
