<div rfz-pane-header="Settings">
  <div rfz-pane-header-button 
       position="left"
       class="header-button"
       rfz-tap-element-range="50"
       rfz-tap="$rfzNavPop()">Cancel</div>
  <div rfz-pane-header-button
       rfz-tap="$rfzNavPush('settings-notifications', 'side')"
       rfz-tap-element-range="50"
       position="right">
    Second Pane
  </div>
</div>
<div rfz-pane-body
     rfz-scroll-view
     can-scroll-x="false">
  <div rfz-scroll-view-body>
    <div class="table table-top">
      Payment Reminders
      <div toggle="settingOne"></div>
    </div>
    <div class="table table-bottom">
      Days Before Due Date
      <div rfz-table-input="testModel"></div>
    </div>
    <div class="table table-top">
      Payment Reminders
      <div toggle="settingTwo"></div>
    </div>
    <div class="table table-bottom">
      Days Before Due Date
      <div rfz-table-input="testModel"></div>
    </div>
    <div class="table table-top">
      Payment Reminders
      <div toggle></div>
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
  </div>
</div>
