<div rfz-view-header="Second Pane">
  <div rfz-view-header-button
       type="back"
       position="left"
       rfz-tap="$rfzViewStack.$pop()"
       rfz-tap-element-range="50">
    {{$rfzViewProperties.previousTitle}}
  </div>
</div>
<div rfz-view-body
     rfz-scroll-view
     can-scroll-x="false">
  <div rfz-scroll-view-body>
    {{$rfzViewProperties}}
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table">
      Some Middle Line
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
  </div>
</div>
