<div rfz-pane-header="Second Pane">
  <div rfz-pane-header-button
       type="back"
       position="left"
       rfz-tap="$rfzNavPop()"
       rfz-tap-element-range="50">
    Settings
  </div>
</div>
<div rfz-pane-body
     rfz-scroll-view
     can-scroll-x="false">
  <div rfz-scroll-view-body>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
    <div class="table table-top">
      Payment Reminders
    </div>
    <div class="table">
      Some Middle Line
    </div>
    <div class="table table-bottom">
      Days Before Due Date
    </div>
  </div>
</div>
