<div class="view-wrapper">
  <form ng-submit="search()">
    <div class="input-wrapper add-search">
      <input type="text"
             ng-model="input"
             placeholder="Movie or show name"/>
    </div>
  </form>
  <div id="upload-grid"
       grid
       results="results"
       loading="loading"
       select="createSeries"
       imagetype="default">
  </div>

  <div modal
       bgclose="canCancel" 
       open="seriesMeta"
       next-enabled="canProceed()" 
       back-enabled="canGoBack()"
       next="next"
       back="back"
       title="seriesMeta.title">
    <div ng-switch="step">
      <div ng-switch-when="add-files">
        <h6>Upload Files</h6>
        <div drop-files
             file-handler="addFile"
             enabled="canAddMore()" 
             class="file-gutter"
             filetypes="avi mp4 mkv mov mp4 m4v torrent">
          Drag Files Here
        </div>
        <ul class="file-list">
          <li ng-repeat="file in files">
            <span class="remove" ng-click="removeFile($index)">&#10006;</span>{{file.name}}
          </li>
        </ul>
      </div>
      <div ng-switch-when="uploading-files">
        <h6 ng-show="!finishedUploading">Your files are uploading, do
          not close this window.</h6>
        <h6 ng-show="finishedUploading">Your files have finished
          uploading!</h6>
        <ul class="upload-list">
          <li ng-repeat="file in files">
            <div upload-progress
                 class="upload-container"
                 progress-class="upload-progress"
                 xhr="file.xhr"
                 can-start="$last"
                 start-uploads="startUpload">
              <span>{{file.name}}</span>
            </div>
          </li>     
        </ul>
      </div>
    </div>
  </div>
</div>
